body {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}
h1,
h2,
h3 {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	z-index: 10;
}

.navbar {
	position: absolute;
	width: 100%;
	max-width: 1200px;
	max-height: 43px;
	margin: 0 auto;
	padding: 1rem 2rem;
	background: #ffffffaa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #00000011;
	backdrop-filter: blur(10px);
	border-radius: 50px;
	transform: translateY(10px);
}

.logo {
	font-size: 1.25rem;
	text-decoration: none;
	color: #be7b0f;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	display: flex;
	align-items: center;
	padding: 1rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin-right: 1rem;
}

nav ul li a {
	color: #915d0a;
	font-size: 1rem;
	text-decoration: none;
}

nav ul li a:hover {
	color: #be7b0f;
	text-decoration: underline;
}

#hero {
	height: 50vh;
	width: 100%;
	background-image: url("images/hero.jpg");
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-content {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 2rem;
	z-index: 8;
}

.hero-content h1 {
	font-size: 4rem;
	color: #ffffff;
	margin: 0;
	margin-top: 10px;
}

.hero-content p {
	font-size: 1.5rem;
	font-weight: 400;
	color: #ffffff;
	margin: 0;
	margin-top: 10px;
}

.hero-content button {
	border: none;
	border-radius: 50px;
	padding: 1rem 2rem;
	background: #ffffff;
	color: #be7b0f;
	font-size: 1rem;
	font-weight: bold;
	margin-top: 1.5rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.hero-content button:hover {
	color: #ffffff;
	background: #be7b0f;
}

#marketing-materials {
	background: #f6f6f6;
	padding: 4rem 0;
	align-items: center;
}

.card {
	width: 100%;
	max-width: 1200px;
	height: 300px;
	display: flex;
	margin: 4rem auto;
	background-color: #ffffff;
	border: 1px solid #00000011;
	border-radius: 15px;
	box-shadow: 0 0 10 0 #00000011;
}

.card img {
	width: 400px;
	height: 100%;
	object-fit: cover;
}

.card-text {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
